<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

<!-- dark:bg-gray-900 dark:text-white -->
  <body class="relative flex flex-col min-h-screen font-nunito dark:bg-black bg-white">
    {{ partial "header.html" . }}
    
    <main class="flex-1">
        {{ block "main" . }}{{ end }}

        <button id="scrollToTopBtn" class="fixed bottom-4 left-4 z-50 hidden items-center justify-center p-3 rounded-full bg-blue-600 text-white shadow-lg transition-opacity duration-300 opacity-0 hover:bg-blue-700" aria-label="Scroll to top" > ↑ </button>
    </main>
    
    {{ partial "footer.html" . }}

       <!--  <div class="my-10" x-data="{ count: 0 }">
        <h2> Let's check if AlpineJS is working</h2>
        <button type="button" class="bg-black border-2 p-1 text-white" x-on:click="count++">Increment</button>
        <span x-text="count"></span> </div> -->
   <!-- <script src="/js/cdn.min.js" defer></script> -->
  
{{ $jsFiles := slice (resources.Get "/js/main.js") (resources.Get "/js/search.js") }}
{{ $js := $jsFiles | resources.Concat "js/bundle.js" | js.Build | minify }}
<script src="{{ $js.RelPermalink }}" defer></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript" defer>
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6306798e37898912e964f594/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

<script type="text/javascript">
const scrollToTopBtn = document.getElementById('scrollToTopBtn');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 200) {
      scrollToTopBtn.classList.remove('hidden');
      scrollToTopBtn.classList.add('opacity-100');
    } else {
      scrollToTopBtn.classList.add('opacity-0');
      setTimeout(() => {
        if (scrollToTopBtn.classList.contains('opacity-0')) {
          scrollToTopBtn.classList.add('hidden');
        }
      }, 300); // match the transition duration
    }
  });

  scrollToTopBtn.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
</script>

  </body>
</html>

